
.carousel-inner img {
    width: 100%;
    max-height: 460px; }
    
    
    .carousel-inner{
        height: 500px;
    width: auto;  }



    .navbar-brand{ font-family: Georgia, 'Times New Roman', Times, serif;}
   
    

    .conteiner{
        display: flex;
        flex-direction: row;
       
        justify-content: center;
        align-items:center;
        flex-wrap: wrap;
        
    }
    .conte_parent{
      display:flex;
      flex-direction: row;
    
      justify-content:center;
      align-items:center;
      flex-wrap:wrap;
      
    }
    .conte{
        height: 510px;
        width: 350px;
        box-shadow:0 0 7px #111 ;
        margin: 30px 30px;
        
        
    }
    .conte .card{
        height: 200px;
        width: 100%;
        margin-bottom: 170px;
    }
    .card img{
        margin: auto;
        
    }
    .conte .invictus img{
        height: 330px;
        width: 300px;
    }

    .conte .chanel img{height: 330px;
        width: 300px; }

    .conte .chanel{background-color: #6A0C0B;}


    .conte .invictus{
         background-color: #111;
    }

    .conte .goodgirl img{
        height: 330px;
        width: 300px;
    }
    .conte .goodgirl{
        background-color: #111;
    }

    .conte .vip img{
        height: 330px;
        width: 300px;
    }
    .conte .vip{
        background-color:#111;
    }
        


    .conte .onemillion img{
        height: 330px;
        width: 300px;
    }
    .conte .onemillion{ 
        background-color: #6A0C0B;
    }
    .conte .boss{
        background-color: #6A0C0B;
    }
    .conte .badboy{
        background-color:#B11313;
    }
    .conte .boss img{
        height: 330px;
        width: 230px;
    }
    .conte .badboy img{
        height: 330px;
        width: 300px;
    }
    .informacion{
        height: 80px;
        width: 100%;
    }
    .informacion h1{
        font-family: sans-serif;
        font-size: 1.2em;
        text-align: center;
        color: #333;
        margin-bottom: -10px;
    }
    .informacion p{
        text-align: center;
        font-family: sans-serif;
        font-size: .9em;
        color: #555;} 

        .contacto{
            font-family:Arial, Helvetica, sans-serif;

            min-height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .form-contact{
            padding: 50px 55px;
            box-shadow: 0 0 20px black;
            border-radius: 20px;
            text-align: center;
            width: 340px;
            
        }
        .imput-group{
            display: flex;
            flex-direction: column;
            text-align: left;  }

        
        label{ color: grey ;
            font-size: 15px;
            font-weight: 600;
            margin-bottom: 15px;
        }
        input, textarea {
            padding: 17px 25px;
            border-radius: 25px;
            margin-bottom: 20px;
            background-color: wheat;
            border: 2px solid wheat;
            color: black;
            outline: none;
        }

        input::placeholder, textarea::placeholder{
         color: wheat

        }
        
        .bnt{
            font-size: 16px;
            color: wheat;
            border: 0;
            border-radius: 25px;
            background-color:cadetblue;
            box-shadow: 0 0 20px; color: green;
            cursor: pointer;
        }
        .btn:hover{
            background-color: green;
        
        }
        @media(max-width:911px) {
            .contacto{ padding: 30px;

            }
            .form-contact{
                padding: 50px 30px;
                width: 100%;
            }
            input{
                padding: 15px;
            }    }


            .nosotros{
                background-size: cover;
                background: url(/images/Organza.jpg) no-repeat;
                font-family:Georgia, 'Times New Roman', Times, serif;
            }
            .box{
                width: 500px;
                background: #6A0C0B;
                margin: 0
                auto;
                margin-top: 4%;
                padding: 20px;
                color: white;
                text-align: center;
                border-radius: 15px;
            }
            
            .box h1{
                font-size: 40px;
                letter-spacing: 4px;
                font-weight: 100;
                margin: 30px 0 20px;
               
            }
            .box h2{
                font-size: 20px;
                letter-spacing: 3px;
                font-weight: 100;
                margin-bottom: 20px;
            }
            .box p{
                text-align: justify;
            }
          .insta-nosotros{
            text-decoration: none;
            color: white;
          }
            